forgot-password-page {
	.forgot-password-header
	{
		@include header-styles(color($colors, walkthrough-header, base), color($colors, walkthrough-header, contrast));
	}
	.forgot-password-content
	{
		background-image: url(./../assets/images/fix_it/home/signup-back.png);
		background-size: cover;
		background-position: center center;

		.recover-message
		{
			color: $white-d;
			margin: 10px 0px;
		}
	}

	.auth-content
	{
		background-color: white;
		margin-top: 200px;

		h2{
			color: #1d3b5b;
			text-align: center;
		}

		button{
			margin: 0px;
	    	margin-top: 20px;
		    border-radius: 6px;
		    color: #FFFFFF;
		    background-color: #1d3b5b;
		    font-size: 1.6rem;
		    font-weight: 500;
			    
		}
	}
}
