<!--
  Generated template for the ConstruccionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mantenimiento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="mantenimiento-content" padding>
<ion-slides #formSlider >
  	<ion-slide>
      <ion-scroll scrollY="true" class="scroll">
    	<ion-row>
    		<ion-col col-4></ion-col>
    		<ion-col col-4>
    			<ion-img class="icono" width="100" height="100" src="././assets/images/fix_it/servicios/mantenimiento-icon.png"></ion-img>
    		</ion-col>
    		<ion-col col-4></ion-col>
    	</ion-row>
    	<ion-row>
    		<ion-col col-2></ion-col>
    		<ion-col text-center col-12>
    			<h2 class="heading1">Servicio de</h2>
          		<h1 class="heading2">Mantenimiento</h1>
    		</ion-col>
    		<ion-col col-2></ion-col>
    	</ion-row>
    	<ion-row>
    		<ion-col col-2>
    			<ion-img class="icono" width="37" height="37" src="././assets/images/fix_it/servicios/icono-servicios.png"></ion-img>
    		</ion-col>	
    		<ion-col col-10>
    			<h4 class="heading3" text-left>Servicios disponibles</h4>	
    		</ion-col>
    	</ion-row>

    	<form [formGroup]="servicioForm">
        <ion-list class="checkbox-list">
            <ion-item class="checkbox-item">
              <ion-label>Servicio de Albañilería</ion-label>
              <ion-checkbox formControlName="opcion_1"></ion-checkbox>
            </ion-item>
            <ion-item class="checkbox-item">
              <ion-label>Servicio de Carpinteria</ion-label>
              <ion-checkbox formControlName="opcion_2"></ion-checkbox>
            </ion-item>
            <ion-item class="checkbox-item">
              <ion-label>Servicio de Cerrajería</ion-label>
              <ion-checkbox formControlName="opcion_3"></ion-checkbox>
            </ion-item>
            <ion-item class="checkbox-item">
              <ion-label>Servicio de Electricidad</ion-label>
              <ion-checkbox formControlName="opcion_4"></ion-checkbox>
            </ion-item>
            <ion-item class="checkbox-item">
              <ion-label>Servicio de Fontanería</ion-label>
              <ion-checkbox formControlName="opcion_5"></ion-checkbox>
            </ion-item>
            <ion-item class="checkbox-item">
              <ion-label>Servicio de Pintura</ion-label>
              <ion-checkbox formControlName="opcion_6"></ion-checkbox>
            </ion-item>
            <ion-item class="checkbox-item">
              <ion-label>Servicio de Jardinería</ion-label>
              <ion-checkbox formControlName="opcion_7"></ion-checkbox>
            </ion-item>
            <ion-item class="checkbox-item">
              <ion-label>Servicio de Vidriería</ion-label>
              <ion-checkbox formControlName="opcion_8"></ion-checkbox>
            </ion-item>
            <ion-item class="checkbox-item">
              <ion-label>Servicio de Bombas y Cisternas</ion-label>
              <ion-checkbox formControlName="opcion_9"></ion-checkbox>
            </ion-item>
            <ion-item class="checkbox-item">
              <ion-label>Otros</ion-label>
              <ion-checkbox formControlName="opcion_10"></ion-checkbox>
            </ion-item>
          </ion-list>
        <button ion-button block class="signup-button" (click)="next()" >Siguiente</button>
      </form> 
      </ion-scroll>
  </ion-slide>

  <ion-slide>

      <ion-row>
    <ion-col col-4></ion-col>
    <ion-col col-4>
      <ion-img class="icono" width="100" height="100" src="././assets/images/fix_it/servicios/mantenimiento-icon.png"></ion-img>
    </ion-col>
    <ion-col col-4></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3></ion-col>
    <ion-col text-center col-12>
      <h2 class="heading1">Servicio de</h2>
          <h1 class="heading2">Mantenimiento</h1>
    </ion-col>
    <ion-col col-3></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2>
      <ion-img class="icono" width="37" height="37" src="././assets/images/fix_it/servicios/icono-servicios.png"></ion-img>
    </ion-col>  
    <ion-col col-10>
      <p class="heading5" text-left>Descripción de la remodelación a realizar</p> 
    </ion-col>
    <ion-col>
    <form [formGroup]="servicioForm2">
        <ion-row>
        <ion-col>
        <ion-textarea rows="4" class="descripcion" placeholder="Describe de forma detallada..." formControlName="description2"></ion-textarea>
      </ion-col>
      </ion-row>
    </form> 
  </ion-col>
</ion-row>
<ion-row>
<ion-col col-12>
 <ion-row>
    <ion-col col-2>
      <ion-img class="icono" width="37" height="37" src="././assets/images/fix_it/servicios/camara.png"></ion-img>
    </ion-col>  
    <ion-col col-10>
      <p class="heading5" text-left>Agregar fotografías</p> 
    </ion-col>
  </ion-row>
        <ion-row>
    		<ion-col col-3>
    			<button *ngIf="!selected_image" ion-button block large class="upload-image-button" (click)="takePhoto()">
            	<preload-image *ngIf="default_img" [ratio]="{w:1, h:1}" [src]="default_img" alt="this is the image" title="IMAGE!"></preload-image>
            	<!-- <h3 class="button-title">{{'UPLOAD_AN_IMAGE' | translate}}</h3> -->
        	</button>

    		</ion-col>
    		<ion-col col-3>
    			<button *ngIf="!selected_image" ion-button block large class="upload-image-button" (click)="takePhoto2()">
            	<preload-image *ngIf="default_img2" [ratio]="{w:1, h:1}" [src]="default_img2" alt="this is the image" title="IMAGE!"></preload-image>
            	<!-- <h3 class="button-title">{{'UPLOAD_AN_IMAGE' | translate}}</h3> -->
        	</button>
        		
    		</ion-col>
    		<ion-col col-3>
    			<button *ngIf="!selected_image" ion-button block large class="upload-image-button" (click)="takePhoto3()">
            	<preload-image *ngIf="default_img3" [ratio]="{w:1, h:1}" [src]="default_img3" alt="this is the image" title="IMAGE!"></preload-image>
            	
        	</button>
        		
    		</ion-col>
    		<ion-col col-3>
    			<button *ngIf="!selected_image" ion-button block large class="upload-image-button" (click)="takePhoto4()">
            	<preload-image *ngIf="default_img4" [ratio]="{w:1, h:1}" [src]="default_img4" alt="this is the image" title="IMAGE!"></preload-image>
            	
        	</button>
        		
              
    		</ion-col>
  		</ion-row>
      <button ion-button block class="signup-button" (click)="next()" [disabled]="!servicioForm2.valid">Siguiente</button>
</ion-col>
</ion-row>
	</ion-slide>

    <ion-slide>

      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <ion-img class="icono" width="100" height="100" src="././assets/images/fix_it/servicios/mantenimiento-icon.png"></ion-img>
        </ion-col>
        <ion-col col-4></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col text-center col-12>
          <h2 class="heading1">Servicio de</h2>
              <h1 class="heading2">Mantenimiento</h1>
        </ion-col>
        <ion-col col-3></ion-col>
      </ion-row>
      <ion-row> 
        <ion-col  col-12>
          <h4 text-center>Dirección y contacto</h4> 
        </ion-col>
        <ion-col  col-12 margin-bottom> 
              <p class="heading5" text-left>Escribe la dirección donde se realizara el servicio</p>
        </ion-col>
        <ion-col margin-top>
        <form [formGroup]="direccionForm">
            <ion-row>
            <ion-col > 
            <ion-textarea rows="2" class="descripcion" placeholder="Escribe la dirección aquí..." formControlName="direccion"></ion-textarea>
          </ion-col>
          </ion-row>
        </form> 
      </ion-col>
        <ion-col  col-12 margin-bottom> 
              <p class="heading5" text-left>Escribe un número telefonico de contacto</p> 
        </ion-col>
        <ion-col margin-top>
          <form [formGroup]="direccionForm">
            <ion-row>
          <ion-col>
            <ion-textarea rows="1" class="descripcion" placeholder="Escribe el número de contacto..." formControlName="numero"></ion-textarea>
          </ion-col>
          </ion-row>
        </form> 
      </ion-col>
    </ion-row>

    <ion-row>
    <ion-col col-12>
          <button ion-button block class="signup-button" (click)="next()" [disabled]="!direccionForm.valid">Siguiente</button>
    </ion-col>
    </ion-row>
  </ion-slide>

  <ion-slide>
      <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4>
        <ion-img class="icono" width="100" height="100" src="././assets/images/fix_it/servicios/mantenimiento-icon.png"></ion-img>
      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col text-center col-8>
        <h2 class="heading1">Metodo de</h2>
            <h1 class="heading2">Pago</h1>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <h4 class="heading4" text-center >Seleccione el metodo de pago de tu preferencia</h4> 
      </ion-col>
    </ion-row>
  <ion-row>
      <ion-col>
    <form [formGroup]="pagoForm">
      <ion-list class="radio-group" radio-group formControlName="selected_option">

          <ion-item>
          <ion-label icon-left><ion-icon name="cash"></ion-icon>Efectivo</ion-label>
         <ion-radio  value="Efectivo"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label stacked>proximamente</ion-label>
         <ion-label icon-left ><ion-icon name="card" ></ion-icon>Tarjeta de credito</ion-label>
          <ion-radio  value="Tarjeta de credito" disabled="true"></ion-radio>
        </ion-item>
        </ion-list>
        <button ion-button block class="signup-button" (click)="next()" >Siguiente</button>
      </form>
  </ion-col>
    </ion-row>
    
  </ion-slide>

  <ion-slide>
    <h4 class="">Agenda el día y hora de visita</h4>
  
    <h1>{{ viewTitle }}</h1>
    <calendar [eventSource]="eventSource"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        [showEventDetail]="false"
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        (onTimeSelected)="onTimeSelected($event)"
        step="30"
        [markDisabled]="markDisabled"
        class="calendar">
      </calendar>
      <ion-icon name="ios-more"></ion-icon>
      <ion-row>
  <ion-col>
       <form [formGroup]="servicioForm4" class="tiempoForm" >
          <h4 class="">Selecciona la hora en la que te gustaria recibir nuestra visita</h4>
          <ion-row no-padding class="multi-input-row">
            
           <ion-col no-padding >
              <ion-item class="">
                <ion-datetime formControlName="from_time" displayFormat="hh mm A" pickerFormat="HH mm" min="08:00" max="17:59"></ion-datetime>
              </ion-item>
            </ion-col>


          </ion-row>
      
      	</form>
    <button ion-button block  (click)="save()" >Agendar</button>
    </ion-col>
  </ion-row>
  </ion-slide>
</ion-slides>
  	
</ion-content>
